@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$sans-font: "Roboto";

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #4C0027;
    height: 90px;
    width: 100%;
    text-align: center;
    z-index: 10;

    .nav-bar-links {
        position: relative;
        top: 0px;
        height: 100%;
	    padding-left: 10px;
	    padding-right: 10px;
        display: flex;
        //justify-content: center;
        margin-left: calc(10% - 40px);
        align-items: center;
    
        td {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 1.3em;
            font-family: $sans-font;
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba($color: #000, $alpha: 0.2) 50%) right;
            background-size: 300%;
            transition: all .3s ease-in-out;

            a {
                color: rgba($color: #fff, $alpha: 1);
                text-decoration: none;
                transition: all .3s ease-in-out;
                line-height: 90.9px;
            }
        }

        
        td:hover {
            background-position: left;
            color: #fff;
            cursor: pointer;
        }

        td:hover a {
            color: #fff;
            text-shadow: #aaa 1px 0 50px;
        }
    }
}